.section {
    border-top: rgb(215, 38, 56) solid 3px;
}

.sectionTitle {
    color: rgb(215, 38, 56);
}

.projectSection {
    margin-top: 10px;
}

.screenCaptures {     
    height: 300px; 
    width: 600px; 
    border: solid black 2px;
}

.btn {
    margin: 4px;

}